<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Welcome to the your first served html node code</h1>
        <p>now you are talking node js</p>
    </body>
</html>